astor==0.8.1
autopep8==2.0.4
ax-platform==1.1.2
backports.tarfile==1.2.0
bofire==0.3.0
Brotli==1.2.0
build==1.2.2.post1
cached-property==1.5.2
CADET-Process==0.11.1
CADET-RDM==1.0.1
colorama==0.4.6
exceptiongroup==1.3.0
flake8==7.1.2
fqdn==1.5.1
graphlib-backport==1.0.3
gssapi==1.10.1
h2==4.3.0
imageio==2.37.0
importlib_resources==6.5.2
ipympl==0.9.8
isoduration==20.11.0
jsonpointer==3.0.0
jupyter-console==6.6.3
jupyterlab-deck==0.2.0
jupytext==1.18.1
multicall==0.15.0
munkres==1.1.4
opencv-python==4.11.0
opencv-python-headless==4.11.0
openpyxl==3.1.5
overrides==7.7.0
pip==25.2
pipefunc==0.87.1
ply==3.11
pooch==1.8.2
pre_commit==4.3.0
prettytable==3.16.0
pyconify==0.2.1
pydocstyle==6.3.0
pyOpenSSL==25.3.0
PyQtWebEngine==5.15.7
PySide6==6.8.3
PySocks==1.7.1
pytest-cov==7.0.0
pytest-xdist==3.8.0
rfc3987-syntax==1.1.0
rope==1.14.0
scikit-sundae==1.1.0
scikits-odes==3.1.1
shiboken6==6.8.3
sip==6.10.0
spyder-notebook==0.6.1
spyder-okvim==0.10.4
toml==0.10.2
tomli==2.3.0
typing_utils==0.1.0
ukkonen==1.0.1
unicodedata2==16.0.0
uri-template==1.3.0
webcolors==25.10.0
whatthepatch==1.0.7
wheel==0.45.1
yapf==0.43.0
zstandard==0.25.0
