about-time==4.2.1
addict==2.3.0
alive-progress==3.3.0
arrow==1.4.0
arviz==1.0.0
arviz-base==1.0.0
arviz-plots==1.0.0
arviz-stats==1.0.0
asttokens==3.0.1
autograd==1.8.0
binaryornot==0.6.0
CADET-Process @ git+ssh://git@github.com/fau-advanced-separations/CADET-Process.git@601e5eee40f45994a59df8f5aa56609a138097b5
CADET-Python==1.2.0
CADET-RDM==1.1.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cma==4.4.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy==1.3.3
cookiecutter==2.7.1
corner==2.2.3
cryptography==46.0.7
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
Deprecated==1.3.1
dill==0.4.1
diskcache==5.6.3
docker==7.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing==2.2.1
filelock==3.29.0
fonttools==4.62.1
gitdb==4.0.12
GitPython==3.1.46
graphemeu==0.7.2
h5py==3.16.0
hopsy==1.7.0
idna==3.11
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1760831328738/work
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
joblib==1.5.3
jupyter-console==6.6.3
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
kiwisolver==1.5.0
llvmlite==0.47.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
moocore==0.2.0
more-itertools==11.0.2
mpmath==1.3.0
multiprocess==0.70.19
nest-asyncio==1.6.0
numba==0.65.0
numpy==2.4.4
optlang==1.9.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1776209387/work
pandas==3.0.2
parso==0.8.6
pathos==0.3.5
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
PolyRound==0.4.0
pox==0.3.7
ppft==1.7.8
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
PyGithub==2.9.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PyJWT==2.12.1
pymoo==0.6.1.6
PyNaCl==1.6.2
pyparsing==3.3.2
pytest @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest_1775644472/work
python-dateutil==2.9.0.post0
python-gitlab==8.2.0
python-slugify==8.0.4
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.33.1
requests-toolbelt==1.0.0
rich==15.0.0
scikit-learn==1.8.0
scipy==1.17.1
SecretStorage==3.5.0
semantic-version==2.10.0
setuptools==82.0.1
six==1.17.0
smmap==5.0.3
stack-data==0.6.3
swiglpk==5.0.13
sympy==1.14.0
tabulate==0.10.0
text-unidecode==1.3
threadpoolctl==3.6.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2026.1
urllib3==2.6.3
wcwidth==0.6.0
wheel==0.46.3
wrapt==2.1.2
xarray==2026.4.0
xarray-einstats==0.10.0
